In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('wine.data.txt', header=None)

data.head()

target = data.pop(0)

data.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [5]:
from sklearn.cross_validation import KFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import cross_val_score

kf = KFold(len(data), n_folds=5, shuffle=True, random_state=42)
# tuple(train_ind, test_ind)

clf = KNeighborsClassifier()
best_scores = []

# no normalization
for n in range(1, 51):
    clf.n_neighbors = n
    scores = cross_val_score(clf, data, target, cv=kf)
    
    best_scores.append((n, np.mean(scores)))
    
print(max(best_scores, key=lambda x: x[1]))
sorted(best_scores, key=lambda x: -x[1])[:5]

(1, 0.7304761904761905)

[(1, 0.7304761904761905),
 (34, 0.72460317460317469),
 (35, 0.72460317460317469),
 (48, 0.71904761904761916),
 (36, 0.71349206349206362)]

In [7]:
from sklearn.preprocessing import scale

# add normalization
data_scaled = scale(data)
best_scores = []

for n in range(1, 51):
    clf.n_neighbors = n
    scores = cross_val_score(clf, data_scaled, target, cv=kf)
    
    best_scores.append((n, np.mean(scores)))
    
print(max(best_scores, key=lambda x: x[1]))
sorted(best_scores, key=lambda x: -x[1])[:]

(29, 0.9776190476190475)

[(29, 0.9776190476190475),
 (15, 0.97206349206349218),
 (16, 0.97206349206349218),
 (17, 0.96650793650793643),
 (18, 0.96650793650793643),
 (20, 0.96650793650793643),
 (22, 0.96650793650793643),
 (14, 0.96634920634920629),
 (28, 0.96634920634920629),
 (33, 0.96634920634920629),
 (34, 0.96634920634920629),
 (41, 0.96634920634920629),
 (43, 0.96634920634920629),
 (45, 0.96634920634920629),
 (21, 0.96095238095238111),
 (11, 0.96095238095238089),
 (23, 0.96095238095238089),
 (9, 0.96079365079365076),
 (10, 0.96079365079365076),
 (26, 0.96079365079365076),
 (30, 0.96079365079365076),
 (32, 0.96079365079365076),
 (35, 0.96079365079365076),
 (36, 0.96079365079365076),
 (38, 0.96079365079365076),
 (39, 0.96079365079365076),
 (40, 0.96079365079365076),
 (42, 0.96079365079365076),
 (44, 0.96063492063492062),
 (50, 0.96063492063492062),
 (19, 0.95539682539682536),
 (8, 0.95523809523809522),
 (12, 0.95523809523809522),
 (24, 0.95523809523809522),
 (25, 0.95523809523809522),
 (27, 0.95523809523809522),
 (31, 0.95523809523809522),
 (37, 0.95523809523809522),
 (3, 0.95507936507936508),
 (47, 0.95507936507936508),
 (49, 0.95507936507936508),
 (6, 0.94952380952380955),
 (7, 0.94952380952380955),
 (46, 0.94952380952380955),
 (48, 0.94952380952380955),
 (13, 0.94952380952380933),
 (5, 0.94936507936507941),
 (1, 0.94396825396825401),
 (4, 0.93825396825396834),
 (2, 0.93285714285714294)]