In [11]:
import pandas as pd

df = pd.read_csv('salary-train.csv')
df.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [20]:
import re

df.FullDescription = df.FullDescription.apply(lambda x: re.sub(r'[^a-zA-Z0-9]', ' ', x.lower()))
df.LocationNormalized.fillna('nan', inplace=True)
df.ContractTime.fillna('nan', inplace=True)

df.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,nan,20355

In [51]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

enc = DictVectorizer()

X_train_categ = enc.fit_transform(df[['LocationNormalized', 'ContractTime']].to_dict('records'))

vect = TfidfVectorizer(min_df=5)
X_train_descr = vect.fit_transform(df.FullDescription)


X_train_categ
# 22861
# 1766

<60000x1766 sparse matrix of type '<class 'numpy.float64'>'
	with 120000 stored elements in Compressed Sparse Row format>

In [54]:
from scipy.sparse import hstack

X_result = hstack([X_train_descr, X_train_categ])

from sklearn.linear_model import Ridge

clf = Ridge(alpha=1)
clf.fit(X_result, df.SalaryNormalized)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [61]:
df_train = pd.read_csv('salary-test-mini.csv')

df_train.FullDescription = df_train.FullDescription.apply(lambda x: re.sub(r'[^a-zA-Z0-9]', ' ', x.lower()))
df_train.LocationNormalized.fillna('nan', inplace=True)
df_train.ContractTime.fillna('nan', inplace=True)

X_test_categ = enc.transform(df_train[['LocationNormalized', 'ContractTime']].to_dict('record1'))
X_test_descr = vect.transform(df_train.FullDescription)

X_test = hstack([X_test_descr, X_test_categ])

clf.predict(X_test)

array([ 56563.73132944,  37202.61448857])

In [62]:
f = open('god.txt','w')
f.write('56563.73 37202.61') 
f.close()