In [39]:
import pandas as pd

df = pd.read_csv('close_prices.csv')


X_train = df.drop('date', axis=1)

X_train.head()

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [2]:
df2 = pd.read_csv('djia_index.csv')
df2.head()

         date          ^DJI
0  2013-09-23  15401.379883
1  2013-09-24  15334.589844
2  2013-09-25  15273.259766
3  2013-09-26  15328.299805
4  2013-09-27  15258.240234

In [26]:
from sklearn.decomposition import PCA

clf = PCA(n_components=10)
clf.fit(X_train)
print('Variance ', clf.explained_variance_ratio_)

transformed = clf.transform(X_train)
result = pd.DataFrame(transformed)

result[0].corr(df2['^DJI'])

Variance  [ 0.73897118  0.11007169  0.04995088  0.0287492   0.02215448  0.01931577
  0.00674853  0.00614091  0.00320594  0.00305611]

0.90965221930502393

In [40]:
weights = clf.components_[0]

pd.Series(weights).abs().sort_values(ascending=False)

0     0.016138
1     0.120645
2    -0.051661
3     0.050484
4    -0.125860
5     0.114090
6     0.233906
7    -0.006205
8     0.251227
9     0.288996
10   -0.264999
11    0.093132
12    0.091395
13    0.046988
14    0.029055
15   -0.026107
16    0.329616
17    0.071390
18    0.076230
19    0.211889
20    0.023092
21    0.077732
22   -0.007206
23    0.189480
24    0.321564
25    0.053683
26    0.579684
27    0.000109
28    0.087161
29   -0.042942
dtype: float64

In [21]:
f = open('corr.txt','w')
f.write('0.91') 
f.close()

In [23]:
f = open('disp.txt','w')
f.write('4') 
f.close()

In [41]:
f = open('top_weight.txt','w')
f.write('V') 
f.close()