In [53]:
import pandas as pd

data = pd.read_csv('titanic.csv')

data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [54]:
df = data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]

# remove null values
df = df[df.Age.notnull()]
df.count()

Pclass      714
Fare        714
Age         714
Sex         714
Survived    714
dtype: int64

In [55]:
sex = {'male': 0, 'female': 1}

df.Sex = df.Sex.map(sex) 
df.head()

   Pclass     Fare  Age  Sex  Survived
0       3   7.2500   22    0         0
1       1  71.2833   38    1         1
2       3   7.9250   26    1         1
3       1  53.1000   35    1         1
4       3   8.0500   35    0         0

In [62]:
target = df.Survived
df = df.drop('Survived', 1)
df.head()

   Pclass     Fare  Age  Sex
0       3   7.2500   22    0
1       1  71.2833   38    1
2       3   7.9250   26    1
3       1  53.1000   35    1
4       3   8.0500   35    0

In [67]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(random_state=241)
clf.fit(df, target)

print(df.columns)
clf.feature_importances_

Index(['Pclass', 'Fare', 'Age', 'Sex'], dtype='object')

array([ 0.14751816,  0.29538468,  0.25658495,  0.30051221])