In [132]:
import pandas as pd

df = pd.read_csv('titanic.csv')

df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [140]:
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [134]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [135]:
df.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [138]:
print(df.Age.mean())
print(df.Age.median())

29.69911764705882
28.0

In [139]:
df.SibSp.corr(df.Parch)

0.41483769862015629

In [130]:
def get_name(line):
    part = line.split('.')[1].strip()
    if '(' in part:
        name = part.split('(')[1].split()[0]
    else:
        name = part.split()[0]
    return name

df2 = df[df.Sex == 'female'].Name.apply(get_name)

df2.groupby(df2.values).count().sort_values(ascending=False)

Anna         14
Mary         13
Elizabeth    11
Margaret     10
Alice         6
Bertha        5
Helen         5
Emily         4
Maria         4
Marie         4
Augusta       4
Florence      4
Annie         4
Ellen         4
Ada           4
Madeleine     3
Marion        3
Jane          3
"Mrs          3
Lillian       3
Ida           3
Katherine     3
Edith         3
Hanora        3
Elisabeth     3
Amelia        3
Catherine     3
Johanna       2
Constance     2
Marjorie      2
             ..
Virginia      1
Juliette      1
Hulda         1
Hileni        1
Hildur        1
Hilda         1
Helmina       1
Helena        1
Hedwig)       1
Juliet        1
Karolina)     1
Manca         1
Leontine      1
Malake        1
Lyyli         1
Lutie         1
Lulu          1
Luise         1
Lucille       1
Lilian        1
Leila         1
Katie         1
Leah          1
Laura         1
Latifa        1
Laina         1
Kristina      1
Kornelia      1
Katriina      1
"Mary")       1
dtype: int64

In [109]:
df.Name

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, dtype: object

In [55]:
216/(891)

0.24242424242424243