In [132]:
import pandas as pd

df = pd.read_csv('titanic.csv')

df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [140]:
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [134]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [135]:
df.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [138]:
print(df.Age.mean())
print(df.Age.median())

29.69911764705882
28.0

In [139]:
df.SibSp.corr(df.Parch)

0.41483769862015629

In [130]:
def get_name(line):
    part = line.split('.')[1].strip()
    if '(' in part:
        name = part.split('(')[1].split()[0]
    else:
        name = part.split()[0]
    return name

df2 = df[df.Sex == 'female'].Name.apply(get_name)

df2.groupby(df2.values).count().sort_values(ascending=False)

Anna         14
Mary         13
Elizabeth    11
Margaret     10
Alice         6
Bertha        5
Helen         5
Emily         4
Maria         4
Marie         4
Augusta       4
Florence      4
Annie         4
Ellen         4
Ada           4
Madeleine     3
Marion        3
Jane          3
"Mrs          3
Lillian       3
Ida           3
Katherine     3
Edith         3
Hanora        3
Elisabeth     3
Amelia        3
Catherine     3
Johanna       2
Constance     2
Marjorie      2
             ..
Virginia      1
Juliette      1
Hulda         1
Hileni        1
Hildur        1
Hilda         1
Helmina       1
Helena        1
Hedwig)       1
Juliet        1
Karolina)     1
Manca         1
Leontine      1
Malake        1
Lyyli         1
Lutie         1
Lulu          1
Luise         1
Lucille       1
Lilian        1
Leila         1
Katie         1
Leah          1
Laura         1
Latifa        1
Laina         1
Kristina      1
Kornelia      1
Katriina      1
"Mary")       1
dtype: int64