In [27]:
import pandas as pd
from  sklearn import metrics

df = pd.read_csv('classification.csv')

df.head()

   true  pred
0     1     0
1     1     1
2     1     1
3     0     0
4     1     1

In [38]:
tp, fn, fp, tn = 0, 0, 0, 0

for a, actual, pred in df.to_records():
    if actual == pred == 1: tp += 1
    if actual == pred == 0: tn += 1
    if actual == 0 and pred == 1: fp += 1
    if actual == 1 and pred == 0: fn += 1

print(tp, fp, fn, tn)
        
f = open('met_0.txt','w')
f.write('43 34 59 64') 
f.close()

43 34 59 64

In [28]:
print('Accuracy: ', metrics.accuracy_score(df['true'], df['pred']))
print('Precision: ', metrics.precision_score(df['true'], df['pred']))
print('Recall: ', metrics.recall_score(df['true'], df['pred']))
print('F1: ', metrics.f1_score(df['true'], df['pred']))

f = open('met_1.txt','w')
f.write('0.54 0.56 0.42 0.48') 
f.close()

Accuracy:  0.535
Precision:  0.558441558442
Recall:  0.421568627451
F1:  0.480446927374

In [40]:
data = pd.read_csv('scores.csv')
# print(data.head())

y = data['true']

print('Log. reg: ', metrics.roc_auc_score(y, data['score_logreg']))
print('SVM: ', metrics.roc_auc_score(y, data['score_svm']))
print('kNN: ', metrics.roc_auc_score(y, data['score_knn']))
print('Tree: ', metrics.roc_auc_score(y, data['score_tree']))

f = open('met_2.txt','w')
f.write('score_logreg') 
f.close()

Log. reg:  0.71918767507
SVM:  0.708683473389
kNN:  0.635154061625
Tree:  0.691926770708

In [48]:
log_curve = pd.DataFrame(list(metrics.precision_recall_curve(y, data['score_logreg'])), )

log_curve.head()
# list(metrics.precision_recall_curve(y, data['score_logreg']))

,0,1,2,3,4,5,6,7,8,9,...,188,189,190,191,192,193,194,195,196,197
0,0.497462,0.494898,0.492308,0.494845,0.497409,0.494792,0.497382,0.494737,0.497354,0.500000,...,0.777778,0.750000,0.714286,0.666667,0.600000,0.750000,1.000000,1.000000,1.000000,1
1,1.000000,0.989796,0.979592,0.979592,0.979592,0.969388,0.969388,0.959184,0.959184,0.959184,...,0.071429,0.061224,0.051020,0.040816,0.030612,0.030612,0.030612,0.020408,0.010204,0
2,0.070739,0.074923,0.086688,0.096733,0.101603,0.108506,0.117658,0.137813,0.138797,0.139615,...,0.924542,0.926317,0.931500,0.936342,0.956966,0.961081,0.963559,0.964515,0.973079,NaN